*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Helvetica";
}
body{
	background: black;
	overflow-x: hidden;
}

/*----- Destaque / banner inicial ------ */

section.destaque{
	background-image: url('../images/friends.jpg');
	background-size: cover;
	background-position: center;
	width: 100%;
	height: 900px;
	position: relative;
	z-index: 1;
	overflow-y: hidden;
	overflow-x: hidden;
}
#video-destaque{
	min-width: 100%;
	min-height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
}

.overlay{
	z-index: 2;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.3);
}
.texto-destaque{
	color: white;
	z-index: 3;
	position: relative;
	margin-top: 70px;
	margin-left: 4%;
}

.texto-destaque h3{
	margin: 20px 0;
	font-size: 30px;
}
.texto-destaque p{
	font-size: 25px;
	color: gray;
}
.texto-destaque a{
	background-color: rgba(100,100,100,0.3);
	color: white;
	text-decoration: none;
	padding: 8px 40px;
	font-size: 23px;
	display: inline-block;
	margin-right: 15px;
	margin-bottom: 10px;
}
.texto-destaque .assis{
	background-color: red;
}
.assis a:hover{
	background: red;
}
.texto-destaque a:hover{
	background: white;
	color: black;
}
.texto-destaque i{
	margin-right: 7px;
}
.texto-destaque .title-text p{
	color: white;
	margin-top: 5%;
	margin-bottom: 1%;
	font-size: 19px;
	font-weight: bold;
}
.subtitulo{
	margin-top: 3%;
}